<mat-toolbar color="primary">
    <mat-toolbar-row class="container-fluid px-4">
      <button *ngIf="sidenav"
        mat-icon-button
        (click)="toggleSidenav()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="cursor-pointer" [routerLink]="[menus[0].routerLink]">Cefalo Movie Mania</span>
      <span fxFlex></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a 
          *ngFor="let menu of menus"
          href="#" [routerLink]="[menu.routerLink]" mat-button class="menu-item">{{menu.name}}</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>