<mat-toolbar color="primary">
    <mat-toolbar-row class="container-fluid px-4">
      <button *ngIf="sidenav"
        mat-icon-button
        (click)="toggleSidenav()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Movie Mania</span>
      <span fxFlex></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" [routerLink]="['movies']" mat-button class="menu-item">Movies</a>
        <a href="#" [routerLink]="['wishlist']" mat-button class="menu-item">Wish List</a>
        <a href="#" [routerLink]="['recently-viewed']" mat-button class="menu-item">Recently Viewed</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>