<section id="banner" #top class="clearfix">
    <div id="banner_content_wrapper">
        <div id="poster" >
            <img src="{{posterImageHostUrl}}{{movie?.poster_path}}" alt="{{movie?.title}}" class="featured_image">
        </div>
        <div id="content">
            <h1 class="title">{{movie?.title}}</h1>
            <div class="py-2">
                <span (click)="gotoGenre(genre.id)" class="genre-coin" *ngFor="let genre of movie?.genres">{{genre.name}}</span>
            </div>

            <p class="description">{{movie?.overview}}</p>
            <div>
                <span class="rating text-white" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <mat-icon>star</mat-icon> 
                    <span>{{movie?.vote_average}}</span>
                    <span (click)="gotoImdb()" class="imdb-icon">IMDb</span>
                    <app-movie-wishlist-add-remove-icon size="'40px'" [movie]="movie"></app-movie-wishlist-add-remove-icon>
                </span>
            </div>
        </div>
        
      </div>
    <div class="text-center" style="margin-top: 30px;" *ngIf="safeVideoURL">
      <iframe width="890" height="400" [src]="safeVideoURL" allowfullscreen>
      </iframe>
    </div>
    <div class="text-center py-4">
        <p class="genre-title">Top Casts</p>
        <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="20px grid">
          <div *ngFor="let cast of movie?.credits?.cast?.slice(0, 10)">
            <app-movie-cast-crew-card [person]="cast"></app-movie-cast-crew-card>
          </div>
        </div>
      </div>
    <div class="text-center py-2">
        <p class="genre-title">Top Crews</p>
        <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="20px grid">
          <div *ngFor="let cast of movie?.credits?.crew?.slice(0, 10)">
            <app-movie-cast-crew-card [person]="cast"></app-movie-cast-crew-card>
          </div>
        </div>
      </div>
    
      <app-movies-holder-with-group-title
        [movies]="recomMovies" 
        groupTitle="Related/Recommended Movies">
      </app-movies-holder-with-group-title>

</section>