.carousel-nav-icon {
  height: 48px;
  width: 48px;
}

.carousel-item {
  .col,
  .col-sm,
  .col-md {
    margin: 8px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
  }
}

.genre-name {
  font-size: 24px;
  color: white;
}

.genre-card:hover {
  transition: transform .3s;
  transform: scale(1.1)
}

.slider-container {
  position: relative;
}

.left-arrow {
  position: absolute;
  z-index: 999;
  top: 43px;
  background: rgba($color: #635d6580, $alpha: .5);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  left: 30px;
}

.carousel-nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


.carousel-nav-icon svg{
  height: 30px;
  width: 30px;
}

.right-arrow {
  position: absolute;
  z-index: 999;
  top: 43px;
  background: rgba($color: #635d6580, $alpha: .5);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  right: 30px;
}

.right-arrow:hover, .left-arrow:hover {
  background: rgba($color: #643f7180, $alpha: .5);
}