<div class="text-center">
    <p class="genre-title py-4">{{groupTitle}}</p>
    <div class="no-movies py-4" *ngIf="!movies || movies.length < 1">
        No Movies Available :(
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px grid">
        <div 
            fxFlex="20" 
            fxFlex.lg="20" 
            fxFlex.md="25" 
            fxFlex.sm="33" 
            fxFlex.xs="50" 
            class="animate__animated animate__slideInUp"
            *ngFor="let movie of movies;trackBy:trackByFn">
            <app-movie-card [movie]="movie"></app-movie-card>
        </div>
    </div>
</div>