<div class="movie" (click)="gotoMovieDetail()">
    <div class="movie-img" style="background-image:url({{posterImageHostUrl}}{{movie.poster_path}})"></div>
    <div class="text-movie-cont">
      <div class="mr-grid" fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="80">
          <h3 title="{{movie.title}}">{{movie.title?.slice(0, 40)}}</h3>
          <ul class="movie-gen">
            <li>Released: {{movie.release_date | date: 'mediumDate'}} </li>
          </ul>
        </div>
        <app-movie-wishlist-add-remove-icon [movie]="movie"></app-movie-wishlist-add-remove-icon>
      </div>
    </div>
  </div>