<div *ngIf="genres">
  <app-genre-list-slider [genres]="genres"></app-genre-list-slider>
  <div fxLayout="column">
    <div *ngFor="let genre of genres;trackBy:trackByFn">
      
      <app-movies-holder-with-group-title
        *ngIf="genre.movies"
        [movies]="genre.movies" 
        groupTitle="{{genre.name}} Movies">
      </app-movies-holder-with-group-title>

    </div>
    <div class="text-center m-4">
      <button class="more-btn" title="Get More Movies" (click)="getMoreMoviesByGenres()" mat-flat-button color="accent">
        Get More Movies by Genres
      </button>
    </div>
  </div>
</div>